* {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: interB;
    src: url(../fonts/static/Inter-ExtraBold.ttf);
}

body {
    padding: 2rem 7rem;
    font-family: inter;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    list-style-type: none;
}

.link {
    margin: 0px 15px;
}

.link a {
    color: hsl(236, 13%, 42%);
    text-decoration: none;
    transition: all .2s;
}

.link a:hover {
    color: hsl(35, 77%, 62%);
}

.wrapper {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
}

.principal {
    grid-row: 1/2;
    grid-column: 1/3;
}

.img-principal {
    width: 100%;
}

.img-principal-responsive {
    display: none;
}

.info {
    display: flex;
}

.info h2 {
    font-family: interB;
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    padding: 2rem 0;
}

.info-readmore {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    padding-left: 30px;
}

.readmore a {
    font-family: interB;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    text-decoration: none;
    padding: .75rem 2.25rem;
    letter-spacing: 3px;
    transition: all .2s;
}

.readmore a:hover {
    background-color: hsl(240, 100%, 5%);
}

aside {
    background-color: hsl(240, 100%, 5%);
    grid-row: 1/2;
    grid-column: 3/4;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

hr {
    font-size: 1px;
}

.aside-titulo {
    font-family: interB;
    color: hsl(35, 77%, 62%);
    font-weight: 800;
    font-size: 30px;
}

.aside-section a {
    color: hsl(36, 100%, 99%);
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all .2s;
}

.aside-section a:hover {
    color: hsl(35, 77%, 62%);
}

.aside-section p {
    color: hsl(233, 8%, 79%);
    font-size: 15px;
    padding-top: 15px;
}

.cards {
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
}

.card1 {
    grid-column: 1/2;
    grid-row: 2/3;

}

.card2 {
    grid-column: 2/3;
    grid-row: 2/3;

}

.card3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.card {
    display: flex;
    height: 150px;
}

.card-info {
    margin-left: 1rem;
}

.card-info h2 {
    font-weight: 700;
    font-size: 35px;
    color: rgba(93, 95, 121, .3);
}

.card-info a {
    font-family: interB;
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    font-weight: 700;
    font-size: 17px;
    margin-top: 2rem;
    transition: all .2s;
}

.card-info a:hover {
    color: hsl(5, 85%, 63%);
}

.card-info p {
    margin-top: 1rem;
    font-size: smaller;
    color: hsl(230, 2%, 49%);
}

.nav-responsive {
    display: none;
}

@media screen and (max-width: 480px) {
    
    body {
        padding: 1rem 1rem 0 1rem;
    }

    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    
    .principal {
        grid-column: 1/2;
        grid-row: inherit;
        display: flex;
        flex-direction: column;
    }

    .img-principal {
        display: none;
    }

    .img-principal-responsive {
        display: block;
        width: 100%;
    }

    .info {
        display: flex;
        flex-direction: column;
    }
    
    .info h2 {
        width: 100%;
    }

    .info-readmore {
        padding: 0;
        width: 100%;
    }
    
    .readmore {
        margin-top: 2rem;
    }

    aside {
        height: auto;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .navbar {
        display: none;
    }
    button {
        border: 0;
    }
    
    .nav-responsive {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .links-container-responsive {
        display: none;
    }

    .links-container-responsive-active {
        width: 30vh;
        position: fixed;
        height: 100vh;
        background-color: hsl(36, 100%, 99%);
        padding: 0;
    }

    .links-responsive {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links-responsive li {
        margin: 1rem 0;
        padding: 1rem;
    }
    
    .card1 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .card2 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .card3 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}
